__pycache__
*.ckpt
*.pth
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
/models/deepbooru
models/Stable-diffusion/model.vae.pt
webui_setup.初版有错误,必须用这个版替换.220928V2.bat
models/Stable-diffusion/1_last.vae.pt
models/Stable-diffusion/final-pruned.vae.pt
models/deepbooru/model-resnet_custom_v3.h5
